<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
</head>
<body>

    <div th:fragment="navbar">
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Vehicle Comparison Application</h1>
        </div>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" style="text-align:center" href="/">Home</a>
            <a class="navbar-brand" style="text-align:center" href="/vehicles">Vehicle list</a>
            <a class="navbar-brand" style="text-align:center" href="/add-vehicle">Add Vehicle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>


</body>
</html>